:root {
  --background: #fff;
  --primary: #00000061;
  --secondary: #2c17ca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
}
body {
  background-image: url(./Estadio_Alberto_J._Armando_field_view.jpg);
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 30px;
  margin: 30px 30px 70px 30px;
  background-color: var(--primary);
  height: 150px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.logo {
  border-radius: 10px;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
}
.navbar {
  gap: 80px;
}
.navbar-list {
  gap: 80px;
}
.navbar-list a {
  color: var(--background);
  font-size: 20px;
  font-family: sans-serif;
}
.navbar i {
  font-size: 30px;
  display: none;
}
#toggle-menu {
  display: none;
}
/* main */
.main {
  display: flex;
  color: var(--background);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary);
  margin: 30px;
  padding: 30px 0px;
  border-radius: 10px;
}
/* #hero */
#hero {
  margin: 10px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
}
.hero-info {
  display: flex;
  gap: 30px;
  width: 50%;
  flex-direction: column;
}
.hero-info h1 {
  font-size: 50px;
  color: var(--background);
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.hero-info p {
  font-size: 20px;
  width: 80%;
  color: var(--background);
  font-weight: 350;
}
.hero-buton {
  display: flex;
  align-items: center;
  justify-content: initial;
  width: 60%;
  gap: 20px;
}
.hero-buton a {
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
  width: 150px;
  font-weight: 300;
  text-decoration: none;
}
.primary-btn {
  background-color: var(--secondary);
  color: var(--background);
}
.alt-btn {
  background-color: var(--background);
  color: var(--secondary);
}
.hero-card {
  width: 500px;
  border-radius: 10%;
}
#text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: var(--background);
  font-size: 25px;
  max-width: 900px;
  padding: 30px 0px;
  text-align: center;
}
@media (max-width: 992px) {
  .hero-info {
    text-align: center;
    width: 90%;
    align-items: center;
  }
  .hero-info p {
    max-width: 80%;
    font-size: 20px;
  }
  .hero-buton {
    justify-content: center;
  }
  .hero-card {
    display: none;
  }
  #text {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .navbar-list {
    background-color: black;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 165px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }
  .navbar i {
    display: block;
  }
  #toggle-menu:checked + .navbar-list {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }
  .hero-info p {
    max-width: 100%;
  }
}
